@{
    ViewBag.Title = "Supplier";
}

@section scripts {
    <script src="~/view-resources/Views/Suppliers/Index.js"></script>
    <script src="~/view-resources/Views/Suppliers/_CreateModal.js"></script>
    <script src="~/view-resources/Views/Suppliers/_EditModal.js"></script>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>Supplier</h1>
            </div>
            <div class="col-sm-6">
                <button data-toggle="modal" data-target="#SupplierCreateModal"
                        class="btn btn-primary float-sm-right">
                    <i class="fa fa-plus"></i> Create
                </button>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card">

            <!-- SEARCH -->
            <div class="card-header">
                <div class="row g-2 align-items-center">

                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="text" id="keyword" class="form-control"
                                   placeholder="Search by id, name, email, phone number..." />
                            <div class="input-group-append">
                                <button class="btn btn-primary" id="GetSuppliersButton">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <select id="filterIsActive" class="form-control">
                            <option value="">-- Is active --</option>
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select>
                    </div>

                    <div class="col-md-1">
                        <button class="btn btn-secondary btn-block" id="ResetFilterButton">
                            <i class="fas fa-undo"></i>
                        </button>
                    </div>

                </div>
            </div>

            <!-- TABLE -->
            <div class="card-body">
                <table id="SuppliersTable"
                       class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone numbers</th>
                            <th>Is active</th>
                            <th style="width:150px">Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</section>

@await Html.PartialAsync("~/Views/Suppliers/_CreateModal.cshtml")

<div id="SupplierEditModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"></div>
    </div>
</div>